/*
Elijah Freestone
MiU 1211
Project 1
10-22-12
*/

html {
    background-color: #7ED0E0;
}

h1 {

    text-align: center;
    padding: 12px;
    margin: -12px -12px 8px -12px;
}

h2 {
    font-family: "Helvetica", "Arial";
    color: #172934;
    font-size: 150%;
    text-align: center;
    padding: 16px;
    margin: -12px -16px 16px -16px;
}

body {
    margin: 8px auto;
    padding: 8px;
    color: #172934;
    max-width: 560px;
    border: 8px white;
    line-height: 24px;
    position: inherit;
}


body>a {  /* For Save-a-date <a> tag on index */
    font-family: "Helvetica", "Arial";
    display: table;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#05c331), to(#026f1b));
    background-color: #026f1b;
    color: #ffffff;
    font-size: 200%;
    padding: 20px 5%;
    margin: auto;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    text-shadow: 0 -1px 0 #172934;
}

legend {
    background-color: #f2fdff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    padding: 2px 7px;
    font-family: "Helvetica", "Arial";
    color: #172934;
}

span {
	font-family: "Helvetica", "Arial";
	color: #172934;
    font-size: 75%;	
}

fieldset {
    background-color: #ccf5fd;
    font-size: 125%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    margin-bottom: 5px;
}

ul#errors {
	font-family: "Helvetica", "Arial";
	color: red;
    font-size: 75%;	
}

input#importance { /* Slider */
    -webkit-appearance: none;
    background-color: #172934;
    height: 8px;
    width: 155px;
    margin-top: 18px;
    margin-bottom: 15px;
}
 
input#importance::-webkit-slider-thumb { /* Slider */
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 30px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    border: solid 1px #b1edf9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#68d4ea), to(#23a0b9));
}

textarea {
    width: 90%;
    height: 80px;
    border: 1px solid #172934;
    padding: 5px;
    font-family: "Helvetica", "Arial";
    font-size: 100%;
}

input#submit { /* Save Date button on additem */
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-table;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#05c331), to(#026f1b));
    background-color: #026f1b;
    color: #ffffff;
    font-size: 200%;
    padding: 10px 10%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    text-shadow: 0 -1px 0 #172934;
    margin-bottom: 10px;
}

nav>a { /* All <a> tags within nav. Display Data, Clear Local Data, etc */
    background-color: #f2fdff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    padding: 2px 7px;
    font-family: "Helvetica", "Arial";
    font-size: 120%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2fdff), to(#97edfc));
}

img {
	background-color: #f2fdff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    padding: 4px;
}

div>ul>li {
    background-color: #ccf5fd;
    color: #172934;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: -5px;
}

output#chosen { /* Slider Output */
	background-color: #f2fdff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    padding: 2px 10px;
    margin-left: 78px;
    width: 25px; 
    font-family: "Helvetica", "Arial";