/*
Elijah Freestone
MiU 1211
Project 2
Bronze App
10-26-12
*/

.ui-page { /* Override JQM background and replace with my background*/
	background-image: none;
    background-color: #7ED0E0 !important;
}

a>img { /* To Center my Feature on index */
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

legend { /* Titles */
    background-color: #f2fdff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #172934;
    padding: 2px 7px;
    font-family: "Times New Roman", "Helvetica", "Arial";
    color: #172934;
    text-align: center;
}